* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1.1rem;
  font-family: "Segoe UI", "Calibri", sans-serif;
}

.noscroll {
  overflow: hidden;
}

.separator {
  width: 1px;
}

.link {
  cursor: pointer;
  padding: 0px 3px;
  display: inline;
}

.link.painted {
  color: #855;
}

.link.painted:hover, .link.painted:focus {
  text-decoration: underline;
  color: #800;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links .link {
  margin-right: 6px;
  text-decoration: none;
  color: #000;
}

.links .link:hover, .links .link:focus {
  text-decoration: underline;
}

body {
  background: #e8e7e3;
}

.popup-close-button {
  border: 1px solid #3333;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #fff8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-close-button:focus {
  background: #fffc;
}

#video-player-container {
  background: #333a;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#video-player-container.hidden {
  display: none;
}

#video-player-container #video-player {
  width: 1280px;
  max-width: 90vw;
  height: 720px;
  max-height: 90vh;
}

#reader-container {
  background: #333a;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reader-container.hidden {
  display: none;
}

#reader-container #reader {
  background: #e8e7e3;
  color: #555;
  border: 2px solid #855;
  width: 1024px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 25px;
  display: block;
  line-height: 155%;
  -moz-tab-size: 2rem;
    -o-tab-size: 2rem;
       tab-size: 2rem;
  white-space: pre-wrap;
}

#reader-container #reader ol, #reader-container #reader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#reader-container #reader ol li::marker, #reader-container #reader ul li::marker {
  font-weight: bold;
}

#reader-container #reader b {
  color: #855;
}

#reader-container #reader .inline-code {
  display: inline;
  font-size: .9rem;
  font-family: 'Consolas';
  background: #0001;
  color: #333;
  padding: 0 .2rem;
}

#reader-container #reader code {
  display: block;
  font-size: .9rem;
  line-height: 130%;
  padding: .5rem;
  background: #0001;
  color: #333;
  font-family: 'Consolas';
  white-space: pre-wrap;
  word-break: break-all;
}

.main-wrapper {
  color: #333;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper header {
  margin-top: 20vh;
  margin-bottom: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vh;
}

.main-wrapper header #header-title {
  font-family: initial;
  font-size: clamp(1rem, 8vw, 3rem);
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.7rem;
  color: #fff9;
  text-shadow: 2px 2px 1px #000;
}

.main-wrapper header #header-title a {
  text-decoration: inherit;
  color: inherit;
}

.main-wrapper header #header-subtitle {
  font-family: initial;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  opacity: .5;
}

.main-wrapper header .links {
  font-size: 50px;
}

.main-wrapper header .links .link {
  color: #333;
  opacity: .6;
}

.main-wrapper header .links .link:hover, .main-wrapper header .links .link:focus {
  opacity: 1;
}

.main-wrapper section {
  width: 100%;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper section .section-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: lighter;
  padding: 0 1rem;
}

.main-wrapper section .section-title::before {
  content: "#";
  opacity: 0.6;
  margin-right: 0.4rem;
}

.main-wrapper section .section-title:hover, .main-wrapper section .section-title:focus {
  text-decoration: underline;
}

.main-wrapper section .section-contents {
  padding: 1rem;
}

.main-wrapper section .section-contents .text-block {
  padding: 1rem;
  background: #00000008;
}

.main-wrapper #projects .section-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-wrapper #projects .project {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #eee;
  border: 1px solid #3338;
  color: #111;
  width: 300px;
  height: 400px;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper #projects .project:not(last-child) {
  margin-right: 1rem;
}

.main-wrapper #projects .project.coming-soon {
  background: #ccc;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper #projects .project .video-button {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper #projects .project .video-button:hover, .main-wrapper #projects .project .video-button:focus {
  background: #0004;
}

.main-wrapper #projects .project .video-button:hover .button, .main-wrapper #projects .project .video-button:focus .button {
  color: #fffc;
  border-color: #fffc;
}

.main-wrapper #projects .project .video-button .button {
  color: #fffb;
  font-weight: bold;
  font-size: 3rem;
  -webkit-filter: drop-shadow(1px 1px #000);
          filter: drop-shadow(1px 1px #000);
}

.main-wrapper #projects .project img {
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
  width: 100%;
  height: 170px;
  max-width: 100%;
  max-height: 100%;
  float: right;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-wrapper #projects .project .project-info {
  background: #eee;
  overflow: hidden;
  height: 200px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper #projects .project .project-title {
  font-weight: bold;
  font-size: 1rem;
}

.main-wrapper #projects .project .project-description {
  overflow: hidden;
  opacity: 0.7;
}

.main-wrapper #projects .project .project-description .read-more {
  white-space: nowrap;
}

.main-wrapper #projects .project .links {
  background: rgba(186, 182, 171, 0.2);
  color: #333;
  font-size: 24px;
  height: 30px;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}

.main-wrapper #projects .project .links .link {
  position: relative;
  opacity: 0.7;
  text-decoration: none;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper #projects .project .links .link .tooltip {
  position: absolute;
  background: #555;
  color: white;
  padding: 2px 5px;
  font-size: 0.7rem;
  z-index: 10;
  top: -1.5rem;
  display: none;
}

.main-wrapper #projects .project .links .link:hover, .main-wrapper #projects .project .links .link:focus {
  background: #3333;
  opacity: 1;
  position: relative;
}

.main-wrapper #projects .project .links .link:hover .tooltip, .main-wrapper #projects .project .links .link:focus .tooltip {
  display: initial;
}

.main-wrapper #projects .project .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
}

.main-wrapper #projects .project .tags .tag {
  opacity: 0.7;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 6px;
  padding: 2px 3px;
  font-size: 0.7rem;
}

.main-wrapper #about .section-contents {
  font-size: clamp(0.8rem, 5vw, 1.1rem);
  line-height: 160%;
  font-weight: lighter;
}

.main-wrapper #about .section-contents i {
  opacity: 0.6;
}

.main-wrapper #about .section-contents b {
  font-weight: bold;
}

.main-wrapper #about .section-contents ul {
  padding-left: 1.5rem;
}

.main-wrapper #about .section-contents li {
  margin: 5px 0;
}

.main-wrapper #about .section-contents .keyword {
  display: inline-block;
  color: #800;
}

.main-wrapper #skills .section-contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper #skills .section-contents .skill {
  background: #e1dfdb;
  position: relative;
  color: #8888;
  -webkit-box-shadow: 5px 5px 5px #3333;
          box-shadow: 5px 5px 5px #3333;
  border-radius: 30%;
  width: 100px;
  height: 100px;
  margin: 0.5rem 0;
  margin-right: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper #skills .section-contents .skill.main {
  color: #855;
}

.main-wrapper #skills .section-contents .skill .skill-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  height: 0;
  font-size: 11px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  -webkit-transition: height .1s ease;
  transition: height .1s ease;
}

.main-wrapper #skills .section-contents .skill:hover .skill-name, .main-wrapper #skills .section-contents .skill:focus .skill-name {
  height: 25px;
  opacity: 1;
}

.main-wrapper #skills .section-contents .skill i {
  font-size: 4rem;
}

.main-wrapper #contact .section-contents {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  line-height: 160%;
  font-weight: lighter;
}

.main-wrapper #contact .section-contents a {
  color: #855;
  font-weight: normal;
  word-break: break-all;
}

.main-wrapper #contact .section-contents a:hover {
  color: #b88;
}

@media only screen and (max-width: 768px) {
  .project img {
    height: 165px !important;
  }
  .project .links {
    height: 45px !important;
  }
  .project .project-info {
    height: 190px !important;
  }
  #skills .section-contents .skill .skill-name {
    height: 25px !important;
  }
}
/*# sourceMappingURL=style.css.map */